# for beta usage, ensure commands register instantly
DISCORD_GUILD_ID=
# if u need connect with self dcbot, u need set this
DISCORD_TOKEN=
# max history messages to send to agent, default 16
MAX_HISTORY_MESSAGES=
