# for beta usage, ensure commands register instantly
DISCORD_GUILD_ID=
# if u need connect with self dcbot, u need set this
DISCORD_TOKEN=
# max history messages to send to agent, default 16
MAX_HISTORY_MESSAGES=
# max tool call iterations in request, default 16
MAX_TOOL_ITERATIONS=
# max tool call iterations in skill call, default 128
MAX_SKILL_ITERATIONS=
# max empty content before giving up, default 8
MAX_EMPTY_RESPONSES=

EXTERNAL_COPILOT=
EXTERNAL_CLAUDE=
EXTERNAL_CODEX=
EXTERNAL_GEMINI=
